altair
annotated-types
anyio
asttokens
attrs
black
blinker
boto3
botocore
cachetools
certifi
cffi
charset-normalizer
click
colorama
comm
contourpy
cryptography
cvzone
cycler
debugpy
decorator
dnspython
ecdsa
email_validator
executing
fastapi
filelock
flake8
Flask
fonttools
fsspec
gitdb
GitPython
h11
idna
iniconfig
ipykernel
ipython
ipython_pygments_lexers
isort
itsdangerous
jedi
Jinja2
jmespath
jq
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
kagglehub
kiwisolver
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mccabe
mdurl
motor
mpmath
mypy
mypy_extensions
narwhals
nest-asyncio
networkx
numpy
oauthlib
opencv-python
packaging
pandas
parso
passlib
pathspec
pillow
platformdirs
pluggy
prompt_toolkit
protobuf
psutil
pure_eval
py-cpuinfo
pyarrow
pyasn1
pycodestyle
pycparser
pydantic
pydantic_core
pydeck
pyflakes
Pygments
PyJWT
pymongo
pyparsing
pytest
python-dateutil
python-dotenv
python-jose
python-multipart
pytz
pywin32
PyYAML
pyzmq
referencing
requests
requests-oauthlib
rich
rpds-py
rsa
s3transfer
scipy
seaborn
setuptools
shellingham
six
smmap
sniffio
stack-data
starlette
streamlit
sympy
tenacity
toml
torch
torchvision
tornado
tqdm
traitlets
typer
typing-inspection
typing_extensions
tzdata
ultralytics
ultralytics-thop
urllib3
uvicorn
watchdog
wcwidth
Werkzeug
wheel
